.coin {
   
     
    
    border-radius: 50%;
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
     
    font-weight: bold;
    margin: 5px;
  }
  .coin:hover
  {
      cursor: pointer;
      background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 70%);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Glowing light effect */
      outline: none;
      border-color: transparent;
  }
  
 
  